html {
  /* background-color: antiquewhite; */
}

body {
  min-width: 280px;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgba(231, 113, 125, 1);
  height: 50px;
}

main {
  display: flex;
  justify-content: center;
  height: 95vh;

  /* background-color: aqua; */
}

.row {
  display: flex;
  justify-content: center;
}
