body {
  min-width: 300px;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgba(231, 113, 125, 1);
  height: 50px;
}

main {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}
