h1 {
  color: white;
  font-weight: lighter;
  font-style: italic;
  margin: auto;
  text-shadow: -2px 2px 0 #000;
}

h2 {
  color: white;
  text-shadow: -2px 2px 0 #000;
}

p {
  font-weight: 900;
}

.hidden {
  display: none;
}

.search {
  margin-top: 20px;
}

#search {
  margin: 16px 5px;
}

#search:focus {
  outline: none;
  border-radius: 3px;
  border: 2px solid rgb(65, 65, 255);
}

.not-found {
  display: none;
}

.results {
  display: none;
}

.column-full {
  flex-basis: 100%;
  text-align: center;
}

table {
  text-align: center;
  margin: 0 20px 30px;
  background-color: white;
}

table,
th,
td {
  border: 1px solid black;
}

.fa-heart {
  margin-top: 4px;
}

@media screen and (max-width: 500px) {
  .fa-heart {
    margin-top: 10px;
  }
}

.fa-regular.fa-heart {
  color: rgb(186, 186, 186);
  cursor: pointer;
}

.fa-regular:hover {
  color: black;
}

.fa-solid.fa-heart {
  color: red;
  transition: color 1s;
}

.fa-regular.fa-heart:active,
.fa-solid.fa-heart:active {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

ul {
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

li {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 600px) {
  ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
  }

  li {
    margin: 0 10px 20px;
  }
}

@media screen and (min-width: 1000px) {
  ul {
    max-width: 1000px;
  }
}

.save-container {
  position: relative;
  border: 1px solid black;
  width: 280px;
  min-height: 125px;
  background-color: white;
}

.fa-solid.fa-square-xmark {
  cursor: pointer;
  height: 16px;
  position: absolute;
  right: 1px;
  transition: all 0.1s ease-out;
}

.fa-solid.fa-square-xmark:active {
  color: red;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media screen and (min-width: 450px) {
  .fa-solid.fa-square-xmark:hover {
    font-size: larger;
    color: red;
  }
}

.saved-header {
  justify-content: center;
  background-color: blanchedalmond;
  color: black;
}

.saved-header > h3 {
  margin: 5px 0;
}

h4 {
  margin: 10px 0 0;
  max-height: 30px;
}

.ratings {
  text-align: center;
  position: absolute;
  bottom: 3px;
  left: 95px;
}

.fa-regular.fa-star {
  cursor: pointer;
}

.fa-solid.fa-star {
  cursor: pointer;
  color: gold;
}

@media screen and (min-width: 450px) {
  .fa-regular.fa-star:hover,
  .fa-solid.fa-star:hover {
    font-size: larger;
  }
}

.fa-solid.fa-bookmark {
  position: absolute;
  top: 16px;
  right: 15px;
  color: white;
  font-size: 20px;
  height: 21px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.fa-solid.fa-house {
  position: absolute;
  top: 16px;
  left: 15px;
  color: white;
  font-size: 20px;
  height: 21px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.fa-solid.fa-bookmark:active,
.fa-solid.fa-house:active {
  color: black;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media screen and (min-width: 450px) {
  .fa-solid.fa-bookmark:hover,
  .fa-solid.fa-house:hover {
    color: black;
    font-size: 23px;
  }
}

.no-saved-holidays {
  margin-top: 30px;
}

.background {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 40%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 280px;
  height: 125px;
  background-color: white;
  border: #000 2px solid;
  margin: auto;
  transform: translateY(-50%);
}

.modal > h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.close {
  position: absolute;
  width: 66px;
  bottom: 15px;
  left: 30px;
  height: 25px;
  font-size: 16px;
  cursor: pointer;
  background-color: aliceblue;
  transition: all 0.2s ease-out;
}

.remove {
  position: absolute;
  width: 66px;
  bottom: 15px;
  right: 30px;
  height: 25px;
  font-size: 16px;
  color: red;
  cursor: pointer;
  background-color: aliceblue;
  transition: all 0.2s ease-out;
}

@media screen and (min-width: 450px) {
  .modal {
    width: 335px;
    height: 150px;
  }

  .close {
    bottom: 25px;
    left: 50px;
  }

  .remove {
    bottom: 25px;
    right: 50px;
  }

  .remove:hover,
  .close:hover {
    background-color: rgb(209, 217, 226);
    width: 75px;
    height: 30px;
  }
}

.remove:active,
.close:active {
  background-color: rgb(209, 217, 226);
}
