h1 {
  color: white;
  font-weight: lighter;
  font-style: italic;
  margin: auto;
}

#search {
  margin: 16px 5px;
}

.results {
  display: none;
}

.column-full {
  flex-basis: 100%;
  text-align: center;
}

table {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}
